.header{
    background-color: red;
    font: bolder;
    text-align: center;
}

.drake{
    padding: 30px;
    margin: 30px;
    width: 400px;
    border: 35px;
    background-color: black;
}
